:root {
    --white: rgb(255, 255, 255);
}

body {
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    background-image: linear-gradient(to left, rgb(29, 29, 29), rgb(80, 80, 80));
    border: thin solid rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px 2px var(--white);
    /* later border something else? */
    margin: 1em auto;
    padding: 1em;
    width: 80%
}

.credit {
    color: rgb(212, 67, 67);
    font-weight: 600;
}

/* Start of Nav Menu */

#nav_menu {
    margin:auto;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
    padding-left: 0;
}

#nav_menu ul li {
    float: right;
    width: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 2% 0;
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    color: var(--white);
    font-size: 0.75em;
    font-weight: bold;
    border-right: 2px solid var(--white);
}

#nav_menu ul li a:hover {
    color: rgb(212, 67, 67);
}

#nav_menu ul li a.lastitem {
    border-right: none;
}


/* End of Nav Menu */

.screenshot {
    width: 100%;
    margin-bottom: 0em;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%;
}

#intro {
    font-size: 1.5em !important;
    width: 70%;
}

h1,
h2,
h3 {
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

footer {
    clear: both
}

br {
    clear: left;
}

ul,
ol,
li {
    color: var(--white);
    line-height: 1.5em;
}

li em {
    text-decoration: underline;
}

img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0em;
    margin-top: 0em;
}

.temp_format {
    clear: left;
}

a:hover {
    font-size: 150%;
}

a {
    color: rgb(212, 67, 67);
}

@media only screen and (max-width: 772px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }
    #nav_menu ul li a {
        border-right: none;
    }
}

@media only screen and (max-width: 648px) {
    img {
        float: none;
    }
}